main {
    overflow: hidden;
    /* background-color: darkgray; */
}

a {
    all: unset;
    cursor: pointer;
}

/* Clases */

.intro {
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(1.5); */
    padding: 2%;
    font-weight: 600;
    font-size: 3em;
    color: black;
}

.intro2 {
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(0.2); */
    padding: 2%;
    font-weight: 600;
    font-size: 2em;
    color: white;
    color: black;
}

.intro3 {
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(0.2); */
    padding: 2%;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    color: black;
}

.intro4 {
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(0.1);
    padding: 2%;
    font-weight: 600;
    font-size: 3em;
    color: white;
}

.intro5 {
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(0.1);
    padding: 2%;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
}

.intro6 {
    /* backdrop-filter: blur(10px); */
    backdrop-filter: brightness(0.2);
    padding: 2%;
    font-weight: 600;
    font-size: 0.9em;
    color: white;

    text-align: end;
}



.date2010 {
    color: gray;
}

.date2014 {
    color: rgb(0, 0, 0);
}

.logo {
    width: 15vw;
}

.nav-link:hover {
    color: black;
}

.index {
    max-width: 50em;
}

.bigLink:hover {
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.bigLink {
    transition: 0.5s;
}

.contactInfo {
    max-width: 21em;
}

.fotoPerfil {
    width: 16em;
    max-width: 100%;
}

.event {
    margin-left: 8%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.5em;
}

.cardTLDR {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.5em;
}

.eventIcon {
    width: 3.8em;
    height: 3.8em;
    margin: -0.3em 1em 0 0;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    background-color: #f9f6f6;
}

.eventDateTop {
    margin-top: 5em;
}

.eventDateBottom {
    margin-top: .5rem;
}

.cardTitleContainer {
    --bs-gutter-x: 0;
    align-items: center;
}

.timelineWidget {
    margin: auto;
    max-width: 42em;
    padding-left: 1.3em;
}

.timeLine {
    width: 0.3em;
}

.timeStart {
    height: 10em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.timeEnd {
    height: 10em;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.timeMid {
    flex-grow: 1;
    background: black;
}

.lineLeft {
    padding: 0;
    height: 2.2rem;
    background: url(../img/timeline.svg);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    background-position: center left;
}

.eventDateContainer {
    width: 100%;
    margin: 0;
}

.eventSpacer {
    width: 80%;
    height: calc(50vh + 1em);
    margin: 0.5em 0;
    padding: 0;
}

.TLDR {
    margin-bottom: 0.2em;
    line-height: 1.2em;
}

.signature {
    width: 10em;
}

.socialIcon {
    width: 2em;
}

/* IDs */
#homeContainer {
    background: url(../img/mountain2.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: flex-start;
    border-radius: 0;
}

#myWorkLifeContainer {
    background: url(../img/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#events {
    padding-top: 10em;
    padding-bottom: 10em;
}


#imgFord {
    background: url(../img/ford.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgIndustrial {
    background: url(../img/industrial.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgPlc {
    background: url(../img/plc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgSpec {
    background: url(../img/specialized.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}


#imgTPMBA {
    background: url(../img/tpmba.png);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgGeeks {
    background: url(../img/geeks.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}

#imgTPMBA_black {
    width: 7em;
}

#imgGEEKS {
    width: 7em;
}

#imgVEP {
    width: 7em;
}

/* Media Queries */

@media (max-width: 575.98px) {
    .contactText {
        font-size: 100%
    }

    .contactTextContainer {
        padding: 0;
    }

    .contactInfo {
        max-width: 18em;
    }
}